In [2]:
import pandas as pd

archivos = pd.read_csv("archivos\\datos.csv")

  nombre apellido  edad
0   toto   perres    85
1  lucas   apelis    50
2    sol     luna    10

In [3]:
archivos

  nombre apellido  edad
0   toto   perres    85
1  lucas   apelis    50
2    sol     luna    10